version: 2 
jobs: 
  build: 
    working_directory: ~/topcoder-community-smoke-test 
    docker: 
      - image: circleci/node:11-browsers 
    steps: 
      - checkout 
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache: 
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache: 
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run: 
          name: browser Update
          command: './node_modules/.bin/webdriver-manager update --versions.chrome=75.0.3770.142'
      - run: 
          name: browser start
          command: './node_modules/.bin/webdriver-manager start --versions.chrome=75.0.3770.142'
          background: true    
      - run:
           name: configuratoin
           command: echo $SMOKE_CONFIG_PROD | base64 -d > config.json 
      - run: # run tests
          name: Execute Smoke Test
          command: npm run test
      - run: # compress
          name: Compress Artifacts
          command: tar -cvf artifact.tar  test-results/   
      - run: # compress
          name: Compress Artifacts
          command: echo $CIRCLE_BUILD_NUM
      - store_artifacts: # Upload artifacts
          path: artifact.tar
          destination: artifact-file
      - run: # For TestQuality
          name: TestQuality Login/Upload file to Test TestQuality Server
          command: |
            sudo chmod 755 testquality-linux
            ./testquality-linux login $EMAIL $PASSWORD --save
            ./testquality-linux upload_test_run test-results/junitresults-TopcoderProfilePageTests.xml --project_name='Community' --plan_name='Community App- Smoke Test Automation'
            ./testquality-linux create_manual_run --project_name='Community' --plan_name='Community App- Smoke Test  Manual'  --run_name= $CIRCLE_BUILD_NUM
          when: always


   
